@import ../base/variables
@import ../base/mixin

.project
  li
    width: calc(33.333% - 40px)
    color: #fff
    margin: 0 20px 40px
    a
      display: block
    .image-outer
      width: 100%
      position: relative
      overflow: hidden
      &::before
        content: ''
        display: block
        width: 100%
        height: 0
        padding-bottom: 50%
      .image
        width: 100%
        height: 140%
        position: absolute
        left: 0
        top: -40%
      img
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        position: relative
    .title
      font-size: px(18)
      font-weight: 600
      letter-spacing: 1.6px
      line-height: 1.4
      margin-top: 20px
    .tag
      display: inline-flex
      flex-wrap: wrap
      margin-top: 15px
      p
        font-size: px(14)
        line-height: 1.4
        letter-spacing: 1.6px
      p:not(:last-child)
        margin-right: 6px
        &::after
          content: ', '
    +rwdmax(1024)
      width: calc(50% - 40px)
      .title
        font-size: px(16)
    +rwdmax(991)
      text-align: center
      .tag
        justify-content: center
    +rwdmax(650)
      width: 100%
      margin: 0 0 40px
